@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Varela+Round&display=swap");
/* font-family: 'Varela Round', sans-serif; */
/* font-family: 'Chewy', cursive; */

#navbar {
  position: fixed;
  width: 100vw;
  background: dodgerblue;
  display: flex;
  align-items: stretch;
  z-index: 1;
}

.navel {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  font-size: 15pt;
  padding: 0 20px;
  display: flex;
  align-items: center;
  transition: background 0.2s;
}
.navel:hover,
.nav-select {
  background: rgba(0, 0, 0, 0.2);
}

#logo {
  cursor: pointer;
  font-size: 30pt;
  font-family: "Chewy", cursive;
  padding: 10px 20px;
  border-right: 3px solid rgba(0, 0, 0, 0.2);
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: white;
}
